# Fake news detection problem

In [34]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
import re
import string

In [35]:
df_fake=pd.read_csv(r'C:\Users\sharm\datasets\Fake.csv')
df_true=pd.read_csv(r'C:\Users\sharm\datasets\True.csv')

In [36]:
df_fake.head(), df_true.head()

(                                               title  \
 0   Donald Trump Sends Out Embarrassing New Year’...
 1   Drunk Bragging Trump Staffer Started Russian ...
 2   Sheriff David Clarke Becomes An Internet Joke...
 3   Trump Is So Obsessed He Even Has Obama’s Name...
 4   Pope Francis Just Called Out Donald Trump Dur...

                                                 text subject  \
 0  Donald Trump just couldn t wish all Americans ...    News
 1  House Intelligence Committee Chairman Devin Nu...    News
 2  On Friday, it was revealed that former Milwauk...    News
 3  On Christmas day, Donald Trump announced that ...    News
 4  Pope Francis used his annual Christmas Day mes...    News

                 date
 0  December 31, 2017
 1  December 31, 2017
 2  December 30, 2017
 3  December 29, 2017
 4  December 25, 2017  ,
                                                title  \
 0  As U.S. budget fight looms, Republicans flip t...
 1  U.S. military to accept transgender recruits o...
 2  Senior U.S. Republican senator: 'Let Mr. Muell...
 3  FBI Russia probe helped by Australian diplomat...
 4  Trump wants Postal Service to charge 'much mor...

                                                 text       subject  \
 0  WASHINGTON (Reuters) - The head of a conservat...  politicsNews
 1  WASHINGTON (Reuters) - Transgender people will...  politicsNews
 2  WASHINGTON (Reuters) - The special counsel inv...  politicsNews
 3  WASHINGTON (Reuters) - Trump campaign adviser ...  politicsNews
 4  SEATTLE/WASHINGTON (Reuters) - President Donal...  politicsNews

                  date
 0  December 31, 2017
 1  December 29, 2017
 2  December 31, 2017
 3  December 30, 2017
 4  December 29, 2017   )

In [37]:
df_fake["class"]=0
df_true["class"]=1

In [38]:
df_fake.shape, df_true.shape

((23481, 5), (21417, 5))

In [39]:
df_fake_manual_testing = df_fake.tail(10)
for i in range(23470,23460,-1):
    df_fake.drop([i], axis=0, inplace=True)

df_true_manual_testing = df_true.tail(10)
for i in range(21416,21406,-1):
    df_true.drop([i], axis=0, inplace=True)

In [40]:
##df_fake_manual_testing["class"]=0
##df_true_manual_testing["class"]=1

In [41]:
df_manual_testing = pd.concat([df_fake_manual_testing, df_true_manual_testing], axis=0)
df_manual_testing.to_csv("manual_testing.csv")

In [42]:
df_marge = pd.concat([df_fake, df_true], axis=0)
df_marge.head(10)

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017",0
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017",0
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017",0
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017",0
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,"December 21, 2017",0

In [43]:
df = df_marge.drop(['title', 'subject','date'], axis=1)
df.head(10)

                                                text  class
0  Donald Trump just couldn t wish all Americans ...      0
1  House Intelligence Committee Chairman Devin Nu...      0
2  On Friday, it was revealed that former Milwauk...      0
3  On Christmas day, Donald Trump announced that ...      0
4  Pope Francis used his annual Christmas Day mes...      0
5  The number of cases of cops brutalizing and ki...      0
6  Donald Trump spent a good portion of his day a...      0
7  In the wake of yet another court decision that...      0
8  Many people have raised the alarm regarding th...      0
9  Just when you might have thought we d get a br...      0

In [44]:
df = df.sample(frac=1)

In [45]:
df.head(10)

                                                    text  class
11940  President Barack Obama faces being blackballed...      0
11592  Speaking to BBC Newsnight in a rare interview,...      0
4667   While Donald Trump is urging gun owners to ass...      0
21355  We certainly don t want to do anything that mi...      0
11032  IOWA CITY, Iowa/NEW YORK (Reuters) - The 2016 ...      1
4943   WASHINGTON (Reuters) - One of U.S. President D...      1
1065   Senators are increasingly pissed off about the...      0
12247  ROME (Reuters) - The leader of Italy s far-rig...      1
490    WASHINGTON (Reuters) - Congress is likely to m...      1
19630  WASHINGTON (Reuters) - U.S. Senator Bill Nelso...      1

In [46]:
df.isnull().sum()

text     0
class    0
dtype: int64

In [47]:
def wordopt(text):
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub("\\W"," ",text) 
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)    
    return text

In [48]:
df["text"]= df["text"].apply(wordopt)

In [49]:
df.head(10)

                                                    text  class
11940  president barack obama faces being blackballed...      0
11592  speaking to bbc newsnight in a rare interview ...      0
4667   while donald trump is urging gun owners to ass...      0
21355  we certainly don t want to do anything that mi...      0
11032  iowa city  iowa new york  reuters    the  elec...      1
4943   washington  reuters    one of u s  president d...      1
1065   senators are increasingly pissed off about the...      0
12247  rome  reuters    the leader of italy s far rig...      1
490    washington  reuters    congress is likely to m...      1
19630  washington  reuters    u s  senator bill nelso...      1

In [50]:
x = df["text"]
y= df["class"]

In [51]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = .25)

In [52]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [53]:
vectrorization = TfidfVectorizer()
xv_train = vectrorization.fit_transform(x_train)
xv_test = vectrorization.transform(x_test)

# Logistic regression

In [54]:
from sklearn.linear_model import LogisticRegression

In [55]:
LR = LogisticRegression()
LR.fit(xv_train, y_train)

LogisticRegression()

In [56]:
LR.score(xv_test, y_test)

0.9867201426024955

In [57]:
pred_LR = LR.predict(xv_test)
print(classification_report(y_test, pred_LR))

              precision    recall  f1-score   support

           0       0.99      0.98      0.99      5904
           1       0.98      0.99      0.99      5316

    accuracy                           0.99     11220
   macro avg       0.99      0.99      0.99     11220
weighted avg       0.99      0.99      0.99     11220

print(classification_report(y_test, pred_LR))

# Decision tree classification

In [58]:
from sklearn.tree import DecisionTreeClassifier

In [59]:
DTC = DecisionTreeClassifier()
DTC.fit(xv_train, y_train)

DecisionTreeClassifier()

In [60]:
DTC.score(xv_test, y_test)

0.9962566844919786

In [61]:
pred_DTC = DTC.predict(xv_test)
print(classification_report(y_test, pred_DTC))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      5904
           1       1.00      0.99      1.00      5316

    accuracy                           1.00     11220
   macro avg       1.00      1.00      1.00     11220
weighted avg       1.00      1.00      1.00     11220

# Gradient Boosting Classifier

In [62]:
from sklearn.ensemble import GradientBoostingClassifier

In [63]:
GBC = GradientBoostingClassifier(random_state=0)
GBC.fit(xv_train, y_train)

GradientBoostingClassifier(random_state=0)

In [64]:
GBC.score(xv_test, y_test)

0.9958110516934047

In [66]:
pred_GBC = GBC.predict(xv_test)
print(classification_report(y_test, pred_GBC))

              precision    recall  f1-score   support

           0       1.00      0.99      1.00      5904
           1       0.99      1.00      1.00      5316

    accuracy                           1.00     11220
   macro avg       1.00      1.00      1.00     11220
weighted avg       1.00      1.00      1.00     11220

# Random Forest Classifier

In [67]:
from sklearn.ensemble import RandomForestClassifier

In [68]:
RFC = RandomForestClassifier(random_state=0)
RFC.fit(xv_train, y_train)

RandomForestClassifier(random_state=0)

In [69]:
RFC.score(xv_test, y_test)

0.9916221033868092

In [72]:
pred_RFC = RFC.predict(xv_test)
print(classification_report(y_test, pred_RFC))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      5904
           1       0.99      0.99      0.99      5316

    accuracy                           0.99     11220
   macro avg       0.99      0.99      0.99     11220
weighted avg       0.99      0.99      0.99     11220

# Manual Testing

In [77]:
def output_label(n):
    if n==0:
        return "Fake News"
    elif n==1:
        return "Not a Fake News"
    
def manual_testing(news):
    testing_news = {"text" : [news]}
    new_def_test = pd.DataFrame(testing_news)
    new_def_test["text"] = new_def_test["text"].apply(wordopt)
    new_x_test = new_def_test["text"]
    new_xv_test = vectrorization.transform(new_x_test)
    pred_LR = LR.predict(new_xv_test)
    pred_DTC = DTC.predict(new_xv_test)
    pred_GBC = GBC.predict(new_xv_test)
    pred_RFC = RFC.predict(new_xv_test)
    return print("\n\nLR Prediction: {} \nDTC Prediction: {} \nGBC Prediciton {} \nRFC Prediction: {}".format(output_label(pred_LR[0]),
                                                                                                             output_label(pred_DTC[0]),
                                                                                                             output_label(pred_GBC[0]),
                                                                                                             output_label(pred_RFC[0])))

In [79]:
news = str(input())
manual_testing(news)

21st Century Wire says This week, the historic international Iranian Nuclear Deal was punctuated by a two-way prisoner swap between Washington and Tehran, but it didn t end quite the way everyone expected. On the Iranian side, one of the U.S. citizens who was detained in Iran, Nosratollah Khosravi-Roodsari, has stayed in Iran, but on the U.S. side   all 7 of the Iranians held in U.S. prisons DID NOT show up to their flight to Geneva for the prisoner exchange   with at least 3 electing to stay in the U.S  TEHRAN SIDE: In Iran, 5 U.S. prisoners were released, with 4 of them making their way to Germany via Switzerland.Will Robinson Daily MailNone of the Iranians freed in the prisoner swap have returned home and could still be in the United States, it has been reported.The seven former inmates, who were released as part of a deal with the Islamic republic, did not show up to get a flight to Geneva, Switzerland, where the exchange was set to take place on Sunday.Three of the Iranians have decided to stay in the United States, ABC reported, with some moving in with their families. However it is not known where the other four are.Three of the Americans who had been detained in Iran   Washington Post journalist Jason Rezaian, former U.S. Marine Amir Hekmati and Christian pastor Saeed Abedini   left Tehran at around 7am the same day, but weren t met by their counterparts in Switzerland Continue this story at the Mail OnlineREAD MORE IRAN NEWS AT: 21st Century Wire Iran Files


LR Prediction: Fake News
DTC Prediction: Fake News
GBC Prediciton Fake News
RFC Prediction: Fake News